@charset "ISO-8859-1";
*{
	margin: 0px auto;
	padding: 0px;
}

body{
	padding: 0px auto;
	font-family: courier;
	height: 700px;
	width: 900px;
	background-image: linear-gradient(to bottom right, blue, red);
	background-size: 100% 100%;
}
p{
	text-align: center;
	color: white;
}
p a{
	color: gold;
}
h1{
	color: gold;
	text-align:center;
	height: 200px;
	width: 900px;
	font-size: 70px;
}
.errors{
	color: red;
}
.border{
	border-radius: 30px;
	margin:auto;
	text-align: center;
	height: 275px;
	width: 900px; 
	
}
.form{
	padding-top: 50px;
	font-size: 15px;
	height: 250px;
	width: 700px;
}
.form p{
	height: 50px;
}
.form label{
	color: gold;
	font-size: 15px;
	font-weight: bold;
}
.intro{
	text-align: center;
	width: 900px;
	height: 100px;
	font-size: 20px;
	color: gold;
}