@charset "ISO-8859-1";
*{
	margin:0px;
	padding:0px;
}
body{
	margin: 0px auto;
	height: 700px;
	width: 900px;
	background-image:linear-gradient(red, white, blue);
}
header{
	font-size: 80px;
	text-align: center;
	font-weight: bold;
}
.post{
	height: 500px;
	width: 900px;
	overflow-y: scroll;
}
.eachpost{
	background-color: lightblue;
	width: 800px;
	padding: 10px;
	border-radius: 20px;
}
.userpost{
	background-color: lightgreen;
	width: 800px;
	padding: 10px;
	border-radius: 20px;
	text-align: end;
}

.userpost img{
	height: 300px;
}
.eachpost img{
	height: 300px;
}
.post .seperation{
	height: 10px;
}
form p{
	color: red;
}
table{
	height: 100px;
	width: 150px;
}
thead{
	height: 30px;
	width: 150px;
	background-color: lightgray;
	font-weight: bold;
	border: 5px solid black;
}
tbody{
	height: 100px;
	width:150px;
		border: 5px solid black;
	
}
tbody tr {
	height: 30px;
}
